body {
    background-color: #201c2c;
    color: white;
}

.navbar {
    background-color: rgb(55, 47, 82) !important;
    box-shadow: 0rem 0.1rem 1rem rgba(0, 0, 0, 0.5) !important;
}

.navbar .navbar-brand img {
    min-width: 1.5rem;
    min-height: 1.5rem;
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
}

.navbar a {
    font-size: 1rem !important;
}

.footer {
    background-color: rgb(55, 47, 82) !important;
    box-shadow: 0rem 0.1rem 1rem rgba(0, 0, 0, 0.5) !important;
    height: 5rem !important;
    font-size: 1rem !important;
}